p {
    font-family: Poppins;
}
p.caption {
    font-size: 30px;
    font-weight: bold;
    margin-top: 80px;
    margin-left: 10px;
    width: 500px;
    line-height: 36px;
}
p.views {
    font-size: 20px;
    margin-left: 10px;
    margin-top: -25px;
    color: rgb(96, 96, 96);
}
p.channel {
    font-size: 20px;
    margin-left: 10px;
    margin-top: 25px;
    color: rgb(96, 96, 96);
}
p.content {
    font-size: 20px;
    margin-left: 10px;
    width: 400px;
    color: rgb(96, 96, 96);
}
p.apple {
    margin-top: 100px;
    background-color: rgb(227, 65, 64);
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
span.span:link {
    cursor: pointer;
}
span.span:hover {
    text-decoration: underline;
}