.subscribe {
    background-color: rgb(194, 0, 0);
    color: white;
    border: none;
    height: 45px;
    width: 110px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    transition: opacity 0.15s;
}
.subscribe:hover {
    opacity: 0.8;
}
.subscribe:active {
    opacity: 0.4;
}
.join {
    background-color: white;
    color: blue;
    border-color: blue;
    border-style: solid;
    border-width: 1px;
    height: 45px;
    width: 70px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.15s, color 0.15s;
}
.join:hover {
    background-color: blue;
    color: white;
}
.join:active {
    opacity: 0.7;
}
.tweet {
    background-color: rgb(0, 157, 255);
    color: white;
    border: none;
    border-radius: 50px;
    height: 45px;
    width: 90px;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
    margin-left: 10px;
}
.tweet:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
a {
    transition: color 0.15s;
}
a:hover {
    color: green;
}
p {
    color: green;
    font-size: large;
}